body {
    background-color: #6a36a2;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.header {
    background-color: #4f1e89;
    text-align: center;
    color: #ffffff;
    padding: 40px 20px 40px 20px;
}
.header h1 {
    margin: 0px;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #4f1e89;
    text-align: center;
    color: #ffffff;
    padding: 40px 20px 40px 20px; 
}
.footer h2 {
    margin: 0px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.content .left-content {
    padding: 20px;
}
.content .right-content {
    padding: 20px;
    color: #ffffff;
}